{
  "author": "{{author.name}} <{{author.email}}> ({{link.home}})",
  "blueprint": {
    "description": "An NPM package that is part of the Megabyte Labs eco-system",
    "name": "My Project Name",
    "overview": "This text shows up at the top of the README.md.",
    "repository": {
      "github": "{{#if repository.github}}{{repository.github}}{{else}}https://github.com/{{profile.github}}/{{repository.prefix.github}}{{slug}}{{/if}}",
      "gitlab": "{{#if repository.gitlab}}{{repository.gitlab}}{{else}}{{repository.gitlabBaseUrl}}/{{group}}/{{subgroup}}/{{slug}}{{/if}}"
    },
    "slug": "my-project",
    "title": "Title of the README.md"
  },
  "bugs": {
    "email": "{{email.help}}",
    "url": "{{#if repository.gitlab}}{{repository.gitlab}}{{else}}{{repository.gitlabBaseUrl}}/{{group}}/{{subgroup}}/{{slug}}{{/if}}{{repository.location.issues.gitlab}}"
  },
  "commitlint": {
    "extends": [
      "@commitlint/config-conventional"
    ],
    "helpUrl": "https://megabyte.space/docs/contributing/commits"
  },
  "config": {
    "commitizen": {
      "path": "node_modules/cz-emoji-conventional"
    }
  },
  "dependencies": {},
  "description": "{{description}}",
  "devDependencies": {
    "@washingtondc/development": "^1.0.2",
    "@washingtondc/prettier": "^1.0.0",
    "@washingtondc/release": "^0.0.2",
    "eslint-config-strict-mode": "^1.0.0",
    "sleekfast": "^0.0.1"
  },
  "engines": {
    "node": ">=14.18.0"
  },
  "eslintConfig": {
    "extends": "eslint-config-strict-mode"
  },
  "funding": [
    {
      "type": "opencollective",
      "url": "{{profile_link.opencollective}}/{{profile.opencollective}}"
    },
    {
      "type": "patreon",
      "url": "{{profile_link.patreon}}/{{profile.patreon}}"
    }
  ],
  "homepage": "{{link.home}}",
  "keywords": [
    "container",
    "docker",
    "dockerfile",
    "mblabs",
    "megabytelabs",
    "professormanhattan",
    "software",
    "virtualization",
    "washingtondc"
  ],
  "license": "{{license}}",
  "lint-staged": {
    "**/*": [
      "task lint:any --"
    ],
    "**/*.(css|html|less|md|mjml|php|scss|sh|xml)": [
      "task fix:prettier --"
    ],
    "**/*.(jpg|png)": [
      "task image:compress --"
    ],
    "**/*.(js|jsx|ts|tsx)": [
      "task fix:js --",
      "task lint:js --"
    ],
    "**/*.json": [
      "task fix:json --"
    ],
    "**/*.sh": [
      "task lint:shell --"
    ],
    "**/*.toml": [
      "task lint:toml --"
    ],
    "**/*.xml": [
      "task fix:xml --",
      "task lint:xml --"
    ],
    "**/*.yml": [
      "task fix:yaml --",
      "task lint:yaml --"
    ],
    "logo.png": [
      "task image:resize -- 200 200",
      "task image:compress --"
    ]
  },
  "name": "{{#if customPackageName}}{{customPackageName}}{{else}}@{{profile.npmjs_organization}}/{{repository.prefix.github}}{{slug}}{{/if}}",
  "ntl": {
    "descriptions": {
      "help": "Display a list of tasks that can be run via the Taskfile.yml",
      "prepare": "Hook, triggered by running npm install, that runs logic such as installing pre-commit hooks",
      "repair": "Fixes basic issues in projects that are having trouble running basic commands like 'task start'",
      "start": "Entrypoint for new developers that installs requirements and then runs 'task start'"
    }
  },
  "optionalDependencies": {},
  "prettier": "@washingtondc/prettier",
  "private": false,
  "publishConfig": {
    "access": "{{npm_publish_config_access}}"
  },
  "release": {
    "branches": [
      "master",
      "next"
    ],
    "extends": "@washingtondc/release"
  },
  "repository": {
    "type": "git",
    "url": "git+{{#if repository.github}}{{repository.github}}{{else}}https://github.com/{{profile.github}}/{{repository.prefix.github}}{{slug}}{{/if}}.git"
  },
  "scripts": {
    "help": "{{npm_scripts_help}}",
    "prepare": "{{npm_scripts_prepare}}",
    "repair": "bash <(curl -sS https://install.doctor/repair)",
    "start": "{{npm_scripts_start}}"
  },
  "type": "{{npm_type}}",
  "version": "{{version}}"
}
